<!-- header integration -->

<html>
    <head>
        <title>
            Movie Info
        </title>
        <!-- <link rel='icon' href='https://img.icons8.com/color/96/000000/monitor.png' type='image/x-icon'/> -->
        <!-- <link type="text/css" rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"> -->
        <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> -->

    </head>
    <body>
        <a href="/product/gloves"> Click here to go to gloves page </a>
        <a href="/product/facemasks"> Click here to go to facemasks page </a>
        <a href="/product/beanies"> Click here to go to beanies page </a>